body .navbar, 
html body .navbar,
#navbar.navbar {
    /* Edit the color of the bar across the top */
    background: #192b6d !important;
}

body .navbar .navbar-brand, 
body .navbar .nav-link {
    /* Edit the color of the text inside bar across the top */
    color: #FFF !important;
}

/* optional table styles */
body .md-typeset__table {
    display: block !important;
    width: 100% !important;
    overflow-x: auto !important;
}

body .md-typeset__table table {
    border-collapse: separate !important;
    border-spacing: 0 !important;
    width: 100% !important;
}

body .md-typeset__table th,
body .md-typeset__table td {
    border-bottom: 1px solid #ddd !important;
    padding: 8px !important;
    text-align: left !important;
}

body .md-typeset__table th:not(:last-child),
body .md-typeset__table td:not(:last-child) {
    border-right: 1px solid #ddd !important;
}

body .md-typeset__table tr:nth-child(even) {
    background-color: #f9f9f9 !important;
}

body .md-typeset__table th {
    background-color: #f2f2f2 !important;
    font-weight: bold !important;
}
